{
  "root": true,
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
  },
  "rules": {
    "import/no-unresolved": 0,
    "no-console": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-one-expression-per-line": 0
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true
  }
}
